// BASE

.App {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  background: #f5f7fb;
  margin: 0;
}

// ANSWERS
.selected {
  background: lightblue;
}

.not-selected {
  background: none;
}

.right-answer {
  background: green;
}

.wrong-answer {
  background: red;
}

.missed-answer {
  background: lightgreen;
}
